  <%= f.fields_for :booths do |booth_form| %>
    <ul>
      <div class="booth-form-group">
        <li class="booth-form">
          <%= booth_form.number_field :size, placeholder: "Size" %>
        </li>
      </div>
    </ul>
  <% end %>
