<h1>This is the admin show page.</h1>
<div class="container">
  <div class="row">
    <p>
      <%= link_to "All Venues", admin_venues_path %>
    </p>
    <p>
      <%= link_to "New Venue", new_admin_venue_path %>
    </p>
  </div>
  <div class="row">
    <p>
      <%= link_to "All TradeShows", admin_tradeshows_path %>
    </p>
    <p>
      <%= link_to "New Tradeshow", new_admin_tradeshow_path %>
    </p>
  </div>
</div>
