<div class="wrapper">

     <div class="map-content">
         <div id="map" style="width:100%;"></div>
     </div>

     <div class="tradeshow-content">
       <div class="container">
         <% @tradeshows.each do |tradeshow| %>
         <div class="spacer"></div>
         <div class="card">
             <a href="#">
               <img class="media-object" src="http://placehold.it/64x64" alt="...">
             </a>
             <h4 class="media-heading">
               <%= tradeshow.title %>
             </h4>
             <p> <%= tradeshow.location %> </p>
             </div>
          <% end %>
       </div>
     </div>

   </div>


<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
